body{
    margin: 0;
    height: auto;
}
/* NAV */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);.nav-list {
  list-style: none;
}
.nav-list li {
  position: relative;
  display: inline-block;
   margin: 5px;
   letter-spacing: -1px;
   color: white;
.download:hover {
  color: #CEDD3E
}   
.features:after,
.features:before,
.features a:after,
.features a:before {
  background-color: #F27132;
}
.features:hover {
  color: #F27132;
}
.method:after,
.method:before,
.method a:after,
.method a:before {
  background-color: #85C3E9;
}
.method:hover {
  color: #85C3E9;
}
.purchase:after,
.purchase:before,
.purchase a:after,
.purchase a:before {
  background-color: #FDBE2A;
}
.purchase:hover {
  color: #FDBE2A;
}
.nav-list li:after,
.nav-list li:before,
.nav-list a:before,
.nav-list a:after {
  position: absolute;
  content: '';
  border-radius: 4px;
}
.nav-list li:after,
.nav-list li:before {
  bottom: -4px;
   height: 4px;
}
.nav-list li:not(.selected):before {
  left: 0;
   right: -2px;
}
.nav-list li.selected:after {
  left: 0;
    right: 39px;
}
.nav-list .selected a:before {
  height: 22px;
  width: 4px;
  bottom:-13;
  right: 5px;
  transform: rotate(30deg);
}
/* NAV */

body {
  font-family: 'Varela Round', sans-serif;
}
.wrapper {
  width: 40vw;
  margin: 0 auto;
  position: relative;
   z-index: 2;
}
h1 {
  text-align: center;
