body{
    margin: 0;
    height: auto;
}
/* NAV */
@import url(http://fonts.googleapis.com/css?family=Varela+Round);.nav-list {
  list-style: none;
}
.nav-list li {
  position: relative;
  display: inline-block;
   margin: 5px;
   letter-spacing: -1px;
   color: white;
.download:hover {
  color: #CEDD3E
}   
.features:after,
.features:before,
.features a:after,
.features a:before {
  background-color: #F27132;
}
.features:hover {
  color: #F27132;
}
